.main {
  margin: 0;
}
.header {
  text-align: center;
}
.heading {
  font-size: 1.25rem;
  font-weight: 500;
  color: #f9f4da;
}
.game-description {
  font-size: 0.875rem;
  max-width: 450px;
  color: #8e8e8e;
}
section.game-status {
  background-color: #10a95b;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #f9f4da;
  border-radius: 4px;
  margin-block: 30px;
}
.status-description {
  margin: 5px;
}
.status-heading {
  font-size: 1.25rem;
  margin: 5px;
}
section.language-container {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: center;
  max-width: 450px;
  margin-bottom: 36px;
}
span.language-chip {
  border-radius: 3px;
  padding: 4.5px;
}
section.word-container {
  display: flex;
  justify-content: center;
  gap: 2px;
  margin-bottom: 20px;
}
span.character {
  height: 40px;
  width: 40px;
  background-color: #323232;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.125rem;
  border-bottom: 1px solid #f9f4da;
}
section.keyboard-container {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  justify-content: center;
  max-width: 450px;
  margin-bottom: 36px;
}
button.keyboard-button {
  height: 35px;
  width: 35px;
  background-color: #fcba29;
  border: 1px solid #d7d7d7;
  border-radius: 3px;
  cursor: pointer;
}
button.new-game-button {
  background-color: #11b5e5;
  border: 1px solid #d7d7d7;
  border-radius: 4px;
  width: 225px;
  height: 40px;
  padding: 6px 12px;
  display: block;
  margin-inline: auto;
  cursor: pointer;
}
