* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
}
body {
  font-family: 'Hanken Grotesk', Arial, sans-serif;
  background-color: #262626;
  color: #d9d9d9;
  padding: 20px;
  height: 100vh;
  display: flex;
  justify-content: center;
}
